<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <meta property="og:title" content="API Statis Data Wilayah Indonesia" />
        <meta property="og:description" content="Contoh penggunaan API statis data wilayah Indonesia menggunakan Javascript fetch API." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://emsifa.github.io/api-wilayah-indonesia" />
        <meta property="og:image" content="https://emsifa.github.io/api-wilayah-indonesia/img/og-image.png" />

        <title>API Statis Data Wilayah Indonesia</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" defer></script>
        <script src="js/app.js" defer></script>
    </head>
    <body>
        <div id="app" class="container-fluid my-3 my-md-5">
            <div class="form-group mb-0">
                <label for="">Pilih Provinsi</label>
                <select v-model="provinceId" class="form-control">
                    <option value=""></option>
                    <option v-for="prov in provinces" :key="prov.id" :value="prov.id">{{ prov.name }}</option>
                </select>
            </div>
            <!-- KAB/KOTA -->
            <div class="form-group mb-0">
                <label for="">Pilih Kab/Kota</label>
                <select v-model="regencyId" class="form-control">
                    <option value=""></option>
                    <option v-for="reg in regencies" :key="reg.id" :value="reg.id">{{ reg.name }}</option>
                </select>
            </div>
            <!-- /row -->

            <div class="form-group mb-0">
                <label for="">Pilih Kecamatan</label>
                <select v-model="districtId" class="form-control">
                    <option value=""></option>
                    <option v-for="dist in districts" :key="dist.id" :value="dist.id">{{ dist.name }}</option>
                </select>
            </div>
            <!-- KELURAHAN -->
            <div class="form-group mb-0">
                <label for="">Pilih Kelurahan</label>
                <select v-model="villageId" class="form-control">
                    <option value=""></option>
                    <option v-for="vill in villages" :key="vill.id" :value="vill.id">{{ vill.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group mb-0" id="provinceDropdown">
            <label for="">Pilih Provinsi</label>
            <select id="provinceSelect" class="form-control">
                <option value=""></option>
            </select>
        </div>
    </body>
</html>
